In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'Roll Number': ['20CSE29', '20CSE49', '20CSE36', '20CSE44'], 
                   'Name': ['Amelia', 'Sam', 'Dean', 'Jessica'], 
                   'Marks In Percentage': [97, 90, 70, 82], 
                   'Grade': ['A', 'A', 'C', 'B'], 
                   'Subject': ['Physics', 'Physics', 'Physics', 'Physics']})

In [3]:
df['index'] = df.index 
df

  Roll Number     Name  Marks In Percentage Grade  Subject  index
0     20CSE29   Amelia                   97     A  Physics      0
1     20CSE49      Sam                   90     A  Physics      1
2     20CSE36     Dean                   70     C  Physics      2
3     20CSE44  Jessica                   82     B  Physics      3